<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Novo Cliente">
            <md-content class="md-padding">
                <h3 class="md-display-1">Novo Cliente</h3>
                <md-card>
                    <md-card-content layout-padding>
                        <form name="clienteForm">
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex="30">
                                    <input ng-model="vm.cliente.cnpj" placeholder="CNPJ" required>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <input ng-model="vm.cliente.razaoSocial" placeholder="Razão Social" required>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <input ng-model="vm.cliente.email" placeholder="Email" required>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex=40>
                                    <label>Regime Tributário</label>
                                    <md-select ng-model="vm.cliente.regimeTributario" required>
                                        <md-option value="Simples Nacional">
                                            Simples Nacional
                                        </md-option>
                                        <md-option value="Lucro Presumido">
                                            Lucro Presumido
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-xs>
                                    <input ng-model="vm.cliente.anexos" placeholder="Anexos">
                                </md-input-container>
                                <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ngf-select="vm.uploadFiles($files, $invalidFiles)"
                                    multiple accept="image/*" ngf-max-height="5000" ngf-max-size="5MB">
                                    <md-icon md-svg-src="app/icons/upload.svg" style="color: greenyellow;"></md-icon>
                                </md-button>
                            </div>
                        </form>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="vm.salvarCliente(vm.cliente)" ng-disabled="clienteForm.$invalid">Salvar</md-button>
                        <md-button>Limpar</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="Clientes">
            <md-content class="md-padding">
                <h3 class="md-display-1">Clientes Cadastrados</h3>
               
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>