<md-toolbar data-ng-controller="NavBarController as vm">
    <div class="md-toolbar-tools">
        <h2>
            <span>Full Stack Teste</span>
        </h2>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page1')" data-ui-sref="home" name="page1">Home</md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" data-ui-sref="notas" name="page3">Notas</md-nav-item>
        </md-nav-bar>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More" ng-click="vm.sair()">
            Limpar Local Storage
        </md-button>
    </div>
</md-toolbar>
</md-content>