<md-toolbar data-ng-controller="NavBarController">
    <div class="md-toolbar-tools">
        <h2>
            <span>Full Stack Teste</span>
        </h2>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('page1')" data-ui-sref="home" name="page1">Home</md-nav-item>
            <md-nav-item md-nav-click="goto('page2')" data-ui-sref="clientes" name="page2">Clientes</md-nav-item>
            <md-nav-item md-nav-click="goto('page3')" name="page3">Notas</md-nav-item>
        </md-nav-bar>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More">
           Trocar Cliente
        </md-button>
        <md-button class="md-fab md-mini" aria-label="Favorite">
            <md-icon></md-icon>
        </md-button>
    </div>
</md-toolbar>
</md-content>